# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/
ENV/
.venv/
.VENV/
bin/
lib/
include/
share/
pyvenv.cfg

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore compiled code
*.o
*.so
*.a
*.out

# Ignore package files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pycache__/

# Ignore IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace